__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.build/
.DS_Store
*.swp
.ipynb_checkpoints/
results/
tempfiles_pywatemsedem/
pywatemsedem_preprocessed_rasters/
.coverage
*.log
*.tif
*.tiff
*.img
*.vrt
*.sdat
*.sgrd
*.asc
*.bil
*.hdf
*.nc
*.shp
*.shx
*.dbf
*.prj
WaTEM_SEDEM_STD.json
template.json
